[package]
name = "zebra-utils"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.23"
edition = "2021"

[[bin]]
name = "zebra-checkpoints"
# this setting is required for Zebra's Docker build caches
path = "src/bin/zebra-checkpoints/main.rs"
required-features = ["zebra-checkpoints"]

[[bin]]
name = "search-issue-refs"
path = "src/bin/search-issue-refs/main.rs"
required-features = ["search-issue-refs"]

[[bin]]
name = "block-template-to-proposal"
# this setting is required for Zebra's Docker build caches
path = "src/bin/block-template-to-proposal/main.rs"
required-features = ["getblocktemplate-rpcs"]

[features]
default = []

# Each binary can have a feature that provides the necessary extra dependencies

zebra-checkpoints = [
    "zebra-chain/json-conversion",
    "zebra-node-services/rpc-client"
]

search-issue-refs = [
    "regex",
    "reqwest",
    "tokio"
]

# block-template-to-proposal uses the experimental mining RPC support feature name
getblocktemplate-rpcs = [
    "zebra-rpc/getblocktemplate-rpcs",
    "zebra-node-services/getblocktemplate-rpcs",
    "zebra-chain/getblocktemplate-rpcs",
]

[dependencies]
color-eyre = "0.6.2"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

structopt = "0.3.26"
hex = "0.4.3"
serde_json = "1.0.96"
tracing-error = "0.2.0"
tracing-subscriber = "0.3.16"
thiserror = "1.0.40"

# These crates are needed for the search-issue-refs binary
regex = { version = "1.8.1", optional = true }
reqwest =  { version = "0.11.14", optional = true }
tokio = { version = "1.27.0", features = ["full"], optional = true }

zebra-node-services = { path = "../zebra-node-services" }
zebra-chain = { path = "../zebra-chain" }

# Experimental feature getblocktemplate-rpcs
zebra-rpc = { path = "../zebra-rpc", optional = true }
