[package]
name = "zebra-utils"
version = "1.0.0-beta.30"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
description = "Developer tools for Zebra maintenance and testing"
license = "MIT OR Apache-2.0"
repository = "https://github.com/ZcashFoundation/zebra"
edition = "2021"

# zebra-utils has a separate README file
readme = "README.md"
homepage = "https://zfnd.org/zebra/"
# crates.io is limited to 5 keywords and categories
keywords = ["zebra", "zcash"]
# Must be one of <https://crates.io/category_slugs>
categories = ["command-line-utilities", "cryptography::cryptocurrencies"]

# Zebra is only supported on the latest stable Rust version. See the README for details.
# Any Zebra release can break compatibility with older Rust versions.
rust-version = "1.70"

[[bin]]
name = "zebra-checkpoints"
# this setting is required for Zebra's Docker build caches
path = "src/bin/zebra-checkpoints/main.rs"
required-features = ["zebra-checkpoints"]

[[bin]]
name = "search-issue-refs"
path = "src/bin/search-issue-refs/main.rs"
required-features = ["search-issue-refs"]

[[bin]]
name = "block-template-to-proposal"
# this setting is required for Zebra's Docker build caches
path = "src/bin/block-template-to-proposal/main.rs"
required-features = ["getblocktemplate-rpcs"]

[features]
default = []

# Each binary has a feature that activates the extra dependencies it needs

zebra-checkpoints = [
    "itertools",
    "tokio",
    "zebra-chain/json-conversion",
    "zebra-node-services/rpc-client"
]

search-issue-refs = [
    "regex",
    "reqwest",
    "tokio"
]

# block-template-to-proposal uses the experimental mining RPC support feature name
getblocktemplate-rpcs = [
    "zebra-rpc/getblocktemplate-rpcs",
    "zebra-node-services/getblocktemplate-rpcs",
    "zebra-chain/getblocktemplate-rpcs",
]

[dependencies]
color-eyre = "0.6.2"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

structopt = "0.3.26"
hex = "0.4.3"
serde_json = "1.0.107"
tracing-error = "0.2.0"
tracing-subscriber = "0.3.17"
thiserror = "1.0.48"

zebra-node-services = { path = "../zebra-node-services", version = "1.0.0-beta.30" }
zebra-chain = { path = "../zebra-chain", version = "1.0.0-beta.30" }

# These crates are needed for the block-template-to-proposal binary
zebra-rpc = { path = "../zebra-rpc", version = "1.0.0-beta.30", optional = true }

# These crates are needed for the zebra-checkpoints binary
itertools = { version = "0.11.0", optional = true }

# These crates are needed for the search-issue-refs binary
regex = { version = "1.10.2", optional = true }
# Avoid default openssl dependency to reduce the dependency tree and security alerts. 
reqwest = { version = "0.11.22", default-features = false, features = ["rustls-tls"], optional = true }

# These crates are needed for the zebra-checkpoints and search-issue-refs binaries
tokio = { version = "1.33.0", features = ["full"], optional = true }
