[package]
name = "zebra-utils"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.8"
edition = "2021"
# Prevent accidental publication of this utility crate.
publish = false

[dependencies]
structopt = "0.3.26"
color-eyre = "0.6.0"
hex = "0.4.3"
serde_json = "1.0.81"
tracing-error = { version = "0.1.2", features = ["traced-error"] }
tracing-subscriber = { version = "0.2.25", features = ["tracing-log"] }

zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus" }
zebra-state = { path = "../zebra-state" }
