[package]
name = "zebra-utils"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.13"
edition = "2021"
# Prevent accidental publication of this utility crate.
publish = false

[dependencies]
color-eyre = "0.6.1"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

structopt = "0.3.26"
hex = "0.4.3"
serde_json = "1.0.83"
tracing-error = "0.2.0"
tracing-subscriber = "0.3.11"

zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus" }
zebra-state = { path = "../zebra-state" }
