[package]
name = "zebra-utils"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-alpha.7"
edition = "2018"
# Prevent accidental publication of this utility crate.
publish = false

[dependencies]
structopt = "0.3.21"
color-eyre = "0.5.11"
hex = "0.4"
serde_json = "1.0"
tracing-error = { version = "0.1.2", features = ["traced-error"] }
tracing-subscriber = { version = "0.2.18", features = ["tracing-log"] }

zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus" }
zebra-state = { path = "../zebra-state" }
