version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: daily
    timezone: America/New_York
  open-pull-requests-limit: 10
  labels:
  - "A-infrastructure"
  - "A-dependencies"
  - "A-rust"
  ignore:
  - dependency-name: tokio-util
    versions:
    - ">= 0.3.a, < 0.4"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    timezone: America/New_York
  open-pull-requests-limit: 10
  labels:
  - "A-infrastructure"
  - "A-dependencies"
