version: 2
updates:
  # Rust section
  - package-ecosystem: cargo
    directory: '/'
    # serde, clap, and other dependencies sometimes have multiple updates in a week
    schedule:
      interval: monthly
      day: monday
      timezone: America/New_York
    # Limit dependabot to 1 PR per reviewer
    open-pull-requests-limit: 6
    labels:
      - 'C-exclude-from-changelog'
      - 'A-rust'
      - 'A-dependencies'
      - 'P-Low :snowflake:'
    groups:
        ecc:
          patterns:
            # deliberately include zcash_script (even though it is maintained by ZF)
            - "zcash_*"
            - "orchard"
            - "halo2*"
            - "incrementalmerkletree"
            - "bridgetree"
            - "equihash"
        prod:
          dependency-type: "production"
          exclude-patterns:
            - "zcash_*"
            - "orchard"
            - "halo2*"
            - "incrementalmerkletree"
            - "bridgetree"
            - "equihash"
        dev:
          dependency-type: "development"
  # Devops section
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      # tj-actions/changed-files often updates daily, which is too much for us
      interval: weekly
      day: wednesday
      timezone: America/New_York
    open-pull-requests-limit: 4
    labels:
      - 'C-exclude-from-changelog'
      - 'A-devops'
      - 'A-dependencies'
      - 'P-Low :snowflake:'
    groups:
      devops:
        patterns:
          - "*"
