[workspace]
members = [
        "zebrad",
        "zebra-chain",
        "zebra-network",
        "zebra-state",
        "zebra-script",
        "zebra-consensus",
        "zebra-rpc",
        "zebra-client",
        "zebra-test",
        "zebra-utils",
        "stolon",
        "tower-batch",
        "tower-fallback",
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
