[package]
name = "zebra-node-services"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.20"
edition = "2021"
repository = "https://github.com/ZcashFoundation/zebra"

[features]
default = []

# Production features that activate extra dependencies, or extra features in dependencies

# Experimental mining RPC support
getblocktemplate-rpcs = [
    "zebra-chain/getblocktemplate-rpcs",
]

[dependencies]
zebra-chain = { path = "../zebra-chain" }
