[package]
name = "zebra-network"
version = "0.1.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.2"
bytes = "0.4"
rand = "0.7"
byteorder = "1.3"
chrono = "0.4"
failure = "0.1"

tokio = "=0.2.0-alpha.6"
futures-preview = { version = "=0.3.0-alpha.19", features = ["async-await"] }

tracing = "0.1"
tracing-futures = { version = "0.1", features = ["tokio-alpha"], default-features = false }

tower = "=0.3.0-alpha.2"

zebra-chain = { path = "../zebra-chain" }
