[package]
name = "zebra-network"
version = "0.1.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.2"
byteorder = "1.3"
bytes = "0.5"
chrono = "0.4"
hex = "0.4"
# indexmap has rayon support for parallel iteration,
# which we don't use, so disable it to drop the dependencies.
indexmap = { version = "1.2", default-features = false }
pin-project = "0.4"
rand = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"

tokio = "=0.2.0-alpha.6"
futures-preview = "=0.3.0-alpha.19"

tracing = "0.1"
tracing-futures = { version = "0.1", features = ["tokio-alpha"], default-features = false }

tower = "=0.3.0-alpha.2"
tower-load = { git = "https://github.com/tower-rs/tower", branch = "v0.3.x"}

zebra-chain = { path = "../zebra-chain" }
