[package]
name = "zebra-network"
version = "1.0.0-alpha.8"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.2"
byteorder = "1.4"
bytes = "0.6"
chrono = "0.4"
hex = "0.4"
# indexmap has rayon support for parallel iteration,
# which we don't use, so disable it to drop the dependencies.
indexmap = { version = "1.6", default-features = false }
lazy_static = "1.4.0"
pin-project = "0.4"
rand = "0.8"
regex = "1"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"

futures = "0.3"
tokio = { version = "0.3.6", features = ["net", "time", "stream", "tracing", "macros", "rt-multi-thread"] }
tokio-util = { version = "0.5", features = ["codec"] }
tower = { version = "0.4", features = ["retry", "discover", "load", "load-shed", "timeout", "util", "buffer"] }

metrics = "0.13.0-alpha.8"
tracing = "0.1"
tracing-futures = "0.2"
tracing-error = { version = "0.1.2", features = ["traced-error"] }

zebra-chain = { path = "../zebra-chain" }

[dev-dependencies]
proptest = "0.10"
proptest-derive = "0.3"
toml = "0.5"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
