[package]
name = "zebra-network"
version = "1.0.0-beta.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
tor = ["arti-client", "tor-rtcompat"]
proptest-impl = ["proptest", "proptest-derive", "zebra-chain/proptest-impl"]

[dependencies]
bitflags = "1.3.2"
byteorder = "1.4.3"
bytes = "1.2.1"
chrono = "0.4.19"
hex = "0.4.3"
humantime-serde = "1.1.1"
indexmap = { version = "1.9.1", features = ["serde"] }
lazy_static = "1.4.0"
ordered-map = "0.4.2"
pin-project = "1.0.10"
rand = { version = "0.8.5", package = "rand" }
rayon = "1.5.3"
regex = "1.6.0"
serde = { version = "1.0.142", features = ["serde_derive"] }
thiserror = "1.0.32"

futures = "0.3.21"
tokio = { version = "1.20.1", features = ["net", "time", "tracing", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.9", features = ["sync", "time"] }
tokio-util = { version = "0.7.3", features = ["codec"] }
tower = { version = "0.4.13", features = ["retry", "discover", "load", "load-shed", "timeout", "util", "buffer"] }

metrics = "0.18.1"
tracing-futures = "0.2.5"
tracing-error = { version = "0.2.0", features = ["traced-error"] }
tracing = "0.1.31"

# tor dependencies
arti-client = { version = "0.0.2", optional = true }
tor-rtcompat  = { version = "0.0.2", optional = true }

# proptest dependencies
proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

zebra-chain = { path = "../zebra-chain" }

[dev-dependencies]
proptest = "0.10.1"
proptest-derive = "0.3.0"

static_assertions = "1.1.0"
tokio = { version = "1.20.1", features = ["full", "tracing", "test-util"] }
toml = "0.5.9"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
