[package]
name = "zebra-network"
version = "0.1.0"
authors = ["Henry de Valence <hdevalence@hdevalence.ca>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.3"
chrono = "0.4"
failure = "0.1"
tokio = "=0.2.0-alpha.4"
tracing = "0.1"
futures-core-preview = "=0.3.0-alpha.18"
futures-util-preview = "=0.3.0-alpha.18"
tower-service = "=0.3.0-alpha.1"

zebra-chain = { path = "../zebra-chain" }
