[package]
name = "zebra-network"
version = "1.0.0-beta.3"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
tor = ["arti-client", "tor-rtcompat"]

[dependencies]
bitflags = "1.2"
byteorder = "1.4"
bytes = "1.1.0"
chrono = "0.4"
hex = "0.4"
lazy_static = "1.4.0"
ordered-map = "0.4.2"
pin-project = "1.0.7"
rand = "0.8"
regex = "1"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"

futures = "0.3"
tokio = { version = "1.15.0", features = ["net", "time", "tracing", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.7", features = ["sync", "time"] }
tokio-util = { version = "0.6.9", features = ["codec"] }
tower = { version = "0.4.11", features = ["retry", "discover", "load", "load-shed", "timeout", "util", "buffer"] }

metrics = "0.17.1"
tracing = "0.1"
tracing-futures = "0.2"
tracing-error = { version = "0.1.2", features = ["traced-error"] }

# tor dependencies
arti-client = { version = "0.0.2", optional = true }
tor-rtcompat  = { version = "0.0.2", optional = true }

zebra-chain = { path = "../zebra-chain" }

[dev-dependencies]
proptest = "0.10"
proptest-derive = "0.3"
tokio = { version = "1.15.0", features = ["test-util"] }
toml = "0.5"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
