[package]
name = "zebra-network"
version = "0.1.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.2"
byteorder = "1.3"
bytes = "0.5"
chrono = "0.4"
hex = "0.4"
# indexmap has rayon support for parallel iteration,
# which we don't use, so disable it to drop the dependencies.
indexmap = { version = "1.3", default-features = false }
pin-project = "0.4"
proptest = "0.9"
proptest-derive = "0.1.0"
rand = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"

tokio = { version = "0.2", features = ["net", "time", "stream"] }
tokio-util = { version = "0.3", features = ["codec"] }
futures = "0.3"

tracing = "0.1"
tracing-futures = "0.2"

tower = "0.3"
tower-load = "0.3"

metrics = "0.12"

zebra-chain = { path = "../zebra-chain" }
