[package]
name = "zebra-chain"
version = "1.0.0-beta.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
proptest-impl = ["proptest", "proptest-derive", "zebra-test", "rand", "rand_chacha", "tokio"]
bench = ["zebra-test"]

[dependencies]
aes = "0.7.5"
bech32 = "0.9.0"
bitvec = "1.0.0"
bitflags = "1.3.2"
blake2b_simd = "1.0.0"
blake2s_simd = "1.0.0"
bls12_381 = "0.7.0"
bs58 = { version = "0.4.0", features = ["check"] }
byteorder = "1.4.3"
chrono = { version = "0.4.19", features = ["serde"] }
displaydoc = "0.2.3"
fpe = "0.5.1"
futures = "0.3.21"
group = "0.12.0"
halo2 = { package = "halo2_proofs", version = "0.2.0" }
hex = { version = "0.4.3", features = ["serde"] }
incrementalmerkletree = "0.3.0"
itertools = "0.10.3"
jubjub = "0.9.0"
lazy_static = "1.4.0"
primitive-types = "0.11.1"
rand_core = "0.6.3"
ripemd = "0.1.1"

serde = { version = "1.0.137", features = ["serde_derive", "rc"] }
serde_with = "1.14.0"
serde-big-array = "0.4.1"
# Matches version used by hdwallet
secp256k1 = { version = "0.21.3", features = ["serde"] }
sha2 = { version = "0.9.9", features=["compress"] }
static_assertions = "1.1.0"
subtle = "2.4.1"
thiserror = "1.0.31"
uint = "0.9.1"
x25519-dalek = { version = "1.2.0", features = ["serde"] }

orchard = "0.2.0"

equihash = "0.1.0"
zcash_note_encryption = "0.1"
zcash_primitives = { version = "0.7.0", features = ["transparent-inputs"] }
zcash_encoding = "0.1.0"
zcash_history = "0.3.0"

proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

rand = { version = "0.8.5", optional = true, package = "rand" }
rand_chacha = { version = "0.3.1", optional = true }

tokio = { version = "1.19.2", features = ["tracing"], optional = true }

# ZF deps
ed25519-zebra = "3.0.0"
redjubjub = "0.5.0"

zebra-test = { path = "../zebra-test/", optional = true }

[dev-dependencies]
color-eyre = "0.6.1"
criterion = { version = "0.3.5", features = ["html_reports"] }
itertools = "0.10.3"
spandoc = "0.2.2"
tracing = "0.1.31"

proptest = "0.10.1"
proptest-derive = "0.3.0"

rand = { version = "0.8.5", package = "rand" }
rand_chacha = "0.3.1"

tokio = { version = "1.19.2", features = ["full", "tracing", "test-util"] }

zebra-test = { path = "../zebra-test/" }

[[bench]]
name = "block"
harness = false
required-features = ["bench"]

[[bench]]
name = "redpallas"
harness = false
