[package]
name = "zebra-chain"
version = "1.0.0-beta.20"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []

# Production features that activate extra functionality

# Experimental mining RPC support
getblocktemplate-rpcs = [
    "zcash_address",
]

# Test-only features

proptest-impl = [
    "proptest",
    "proptest-derive",
    "rand",
    "rand_chacha",
    "tokio",
    "zebra-test",
]

bench = ["zebra-test"]

[dependencies]

# Cryptography
aes = "0.7.5"
bech32 = "0.9.1"
bitvec = "1.0.1"
bitflags = "1.3.2"
blake2b_simd = "1.0.0"
blake2s_simd = "1.0.0"
bls12_381 = "0.7.0"
bs58 = { version = "0.4.0", features = ["check"] }
byteorder = "1.4.3"
equihash = "0.2.0"
group = "0.12.0"
incrementalmerkletree = "0.3.0"
jubjub = "0.9.0"
lazy_static = "1.4.0"
primitive-types = "0.11.1"
rand_core = "0.6.4"
ripemd = "0.1.3"
# Matches version used by hdwallet
secp256k1 = { version = "0.21.3", features = ["serde"] }
sha2 = { version = "0.9.9", features = ["compress"] }
subtle = "2.4.1"
uint = "0.9.5"
x25519-dalek = { version = "2.0.0-pre.1", features = ["serde"] }

# ECC deps
halo2 = { package = "halo2_proofs", version = "0.2.0" }
orchard = "0.3.0"
zcash_encoding = "0.2.0"
zcash_history = "0.3.0"
zcash_note_encryption = "0.2.0"
zcash_primitives = { version = "0.9.1", features = ["transparent-inputs"] }

# Time
chrono = { version = "0.4.23", default-features = false, features = ["clock", "std", "serde"] }
humantime = "2.1.0"

# Error Handling & Formatting
displaydoc = "0.2.3"
static_assertions = "1.1.0"
thiserror = "1.0.38"
tracing = "0.1.37"

# Serialization
hex = { version = "0.4.3", features = ["serde"] }
serde = { version = "1.0.152", features = ["serde_derive", "rc"] }
serde_with = "2.2.0"
serde-big-array = "0.4.1"

# Processing
futures = "0.3.26"
itertools = "0.10.5"
rayon = "1.6.1"

# ZF deps
ed25519-zebra = "3.1.0"
redjubjub = "0.5.0"
reddsa = "0.4.0"

# Experimental feature getblocktemplate-rpcs
zcash_address = { version = "0.2.0", optional = true }

# Optional testing dependencies
proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

rand = { version = "0.8.5", optional = true, package = "rand" }
rand_chacha = { version = "0.3.1", optional = true }

tokio = { version = "1.25.0", features = ["tracing"], optional = true }

zebra-test = { path = "../zebra-test/", optional = true }

[dev-dependencies]
# Benchmarks
criterion = { version = "0.4.0", features = ["html_reports"] }

# Error Handling & Formatting
color-eyre = "0.6.2"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }
spandoc = "0.2.2"
tracing = "0.1.37"

# Make the optional testing dependencies required
proptest = "0.10.1"
proptest-derive = "0.3.0"

rand = { version = "0.8.5", package = "rand" }
rand_chacha = "0.3.1"

tokio = { version = "1.25.0", features = ["full", "tracing", "test-util"] }

zebra-test = { path = "../zebra-test/" }

[[bench]]
name = "block"
harness = false
required-features = ["bench"]

[[bench]]
name = "redpallas"
harness = false
