[package]
name = "zebra-chain"
version = "1.0.0-alpha.2"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]

default = []
proptest-impl = ["proptest", "proptest-derive"]

[dependencies]
bech32 = "0.8.0"
bitvec = "0.17.4"
blake2b_simd = "0.5.11"
blake2s_simd = "0.5.11"
bs58 = { version = "0.4", features = ["check"] }
byteorder = "1.4"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
hex = "0.4"
jubjub = "0.6.0"
lazy_static = "1.4.0"
primitive-types = "0.9.0"
rand_core = "0.5.1"
ripemd160 = "0.8.0"
secp256k1 = { version = "0.20.1", features = ["serde"] }
serde = { version = "1", features = ["serde_derive", "rc"] }
serde-big-array = "0.3.1"
sha2 = { version = "0.9.3", features=["compress"] }
thiserror = "1"
x25519-dalek = { version = "1.1", features = ["serde"] }

proptest = { version = "0.10", optional = true }
proptest-derive = { version = "0.2.0", optional = true }

# ZF deps
displaydoc = "0.1.7"
ed25519-zebra = "1"
equihash = "0.1"
redjubjub = "0.2"
bitflags = "1.2.1"

[dev-dependencies]
bincode = "1"
color-eyre = "0.5.10"
spandoc = "0.2"
tracing = "0.1.23"
proptest = "0.10"
proptest-derive = "0.2"

zebra-test = { path = "../zebra-test/" }
