[package]
name = "zebra-consensus"
version = "1.0.0-alpha.2"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
chrono = "0.4.19"
displaydoc = "0.1.7"
jubjub = "0.6.0"
once_cell = "1.5"
rand = "0.7"
redjubjub = "0.2"
serde = { version = "1", features = ["serde_derive"] }
bellman = "0.9"
bls12_381 = "0.3.1"

futures = "0.3.12"
futures-util = "0.3.6"
metrics = "0.13.0-alpha.8"
thiserror = "1.0.23"
tokio = { version = "0.3.6", features = ["time", "sync", "stream", "tracing"] }
tower = { version = "0.4", features = ["timeout", "util", "buffer"] }
tracing = "0.1.23"
tracing-futures = "0.2.4"

tower-fallback = { path = "../tower-fallback/" }
tower-batch = { path = "../tower-batch/" }
zebra-chain = { path = "../zebra-chain" }
zebra-state = { path = "../zebra-state" }
zebra-script = { path = "../zebra-script" }
pairing = "0.18.0"

[dev-dependencies]
color-eyre = "0.5.10"
rand = "0.7"
spandoc = "0.2"
tokio = { version = "0.3.6", features = ["full"] }
tracing-error = "0.1.2"
tracing-subscriber = "0.2.15"

zebra-test = { path = "../zebra-test/" }
