[package]
name = "zebra-consensus"
version = "1.0.0-alpha.3"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
#bellman = "0.8"
bellman = { git = "https://github.com/ZcashFoundation/bellman", rev = "b9737fc0e88c76cfb1e492e207afa222928c0b6d" }
blake2b_simd = "0.5.11"
bls12_381 = "0.4.0"
chrono = "0.4.19"
displaydoc = "0.1.7"
jubjub = "0.6.0"
lazy_static = "1.4.0"
once_cell = "1.7"
pairing = "0.19.0"
rand = "0.7"
redjubjub = "0.2"
serde = { version = "1", features = ["serde_derive"] }

futures = "0.3.13"
futures-util = "0.3.6"
metrics = "0.13.0-alpha.8"
thiserror = "1.0.24"
tokio = { version = "0.3.6", features = ["time", "sync", "stream", "tracing"] }
tower = { version = "0.4", features = ["timeout", "util", "buffer"] }
tracing = "0.1.25"
tracing-futures = "0.2.5"

tower-fallback = { path = "../tower-fallback/" }
tower-batch = { path = "../tower-batch/" }
zebra-chain = { path = "../zebra-chain" }
zebra-state = { path = "../zebra-state" }
zebra-script = { path = "../zebra-script" }
wagyu-zcash-parameters = "0.2.0"

[dev-dependencies]
color-eyre = "0.5.10"
rand = "0.7"
spandoc = "0.2"
tokio = { version = "0.3.6", features = ["full"] }
tracing-error = "0.1.2"
tracing-subscriber = "0.2.16"

zebra-test = { path = "../zebra-test/" }
