[package]
name = "zebra-consensus"
version = "0.1.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zebra-chain = { path = "../zebra-chain" }
zebra-state = { path = "../zebra-state" }
futures-util = "0.3.5"
tower = "0.3.1"

[dev-dependencies]
zebra-test-vectors = { path = "../zebra-test-vectors/" }
color-eyre = "0.3.4"
eyre = "0.4.2"
spandoc = { git = "https://github.com/yaahc/spandoc.git" }
tokio = { version = "0.2.21", features = ["full"] }
tracing = "0.1.15"
tracing-error = "0.1.2"
tracing-subscriber = "0.2.5"
