[package]
name = "zebra-consensus"
version = "1.0.0-beta.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

[features]
default = []
proptest-impl = ["proptest", "proptest-derive", "zebra-chain/proptest-impl", "zebra-state/proptest-impl"]

[dependencies]
blake2b_simd = "1.0.0"
bellman = "0.13.0"
bls12_381 = "0.7.0"
halo2 = { package = "halo2_proofs", version = "0.2.0" }
jubjub = "0.9.0"
rand = { version = "0.8.5", package = "rand" }
rayon = "1.5.3"

chrono = "0.4.19"
dirs = "4.0.0"
displaydoc = "0.2.3"
lazy_static = "1.4.0"
once_cell = "1.13.0"
serde = { version = "1.0.142", features = ["serde_derive"] }

futures = "0.3.21"
futures-util = "0.3.21"
metrics = "0.18.1"
thiserror = "1.0.32"
tokio = { version = "1.20.1", features = ["time", "sync", "tracing", "rt-multi-thread"] }
tower = { version = "0.4.13", features = ["timeout", "util", "buffer"] }
tracing = "0.1.31"
tracing-futures = "0.2.5"

orchard = "0.2.0"

# TODO: replace with upstream librustzcash when these changes are merged (#3037)
# Currently pointing to `download-sprout-params` branch.
zcash_proofs = { git = "https://github.com/ZcashFoundation/librustzcash.git", rev = "4567a37ceccbd506a58aaaded39ba14c952c1510", features = ["local-prover", "multicore", "download-params"] }

tower-fallback = { path = "../tower-fallback/" }
tower-batch = { path = "../tower-batch/" }

zebra-chain = { path = "../zebra-chain" }
zebra-state = { path = "../zebra-state" }
zebra-script = { path = "../zebra-script" }

proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

[dev-dependencies]
color-eyre = "0.6.1"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

hex = "0.4.3"
proptest = "0.10.1"
proptest-derive = "0.3.0"
rand07 = { package = "rand", version = "0.7" }
spandoc = "0.2.2"

tokio = { version = "1.20.1", features = ["full", "tracing", "test-util"] }
tracing-error = "0.2.0"
tracing-subscriber = "0.3.11"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-state = { path = "../zebra-state", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
