[package]
name = "zebra-script"
version = "1.0.0-beta.9"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# TODO: make a release and point to it
zcash_script = { git = "https://github.com/ZcashFoundation/zcash_script.git", rev = "7704c1ee42e04c252eef7c886c5b6921754dfbbd" }

zebra-chain = { path = "../zebra-chain" }

thiserror = "1.0.31"
displaydoc = "0.2.3"

[dev-dependencies]
hex = "0.4.3"
lazy_static = "1.4.0"
zebra-test = { path = "../zebra-test" }
