[package]
name = "zebra-script"
version = "1.0.0-beta.5"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zcash_script = { git = "https://github.com/ZcashFoundation/zcash_script.git", rev = "471ade6d524d33ae67d6b896d17355acd2f5f439" }

zebra-chain = { path = "../zebra-chain" }

thiserror = "1.0.30"
displaydoc = "0.2.2"

[dev-dependencies]
hex = "0.4.3"
lazy_static = "1.4.0"
zebra-test = { path = "../zebra-test" }
