[package]
name = "zebra-script"
version = "1.0.0-alpha.4"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zcash_script = "0.1.5"
zebra-chain = { path = "../zebra-chain" }
thiserror = "1.0.24"
displaydoc = "0.1.7"

[dev-dependencies]
hex = "0.4.3"
lazy_static = "1.4.0"
zebra-test = { path = "../zebra-test" }
