[package]
name = "zebra-state"
version = "1.0.0-alpha.18"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

[features]
proptest-impl = ["proptest", "proptest-derive", "zebra-test"]

[dependencies]
zebra-chain = { path = "../zebra-chain" }

dirs = "4.0.0"
hex = "0.4.3"
lazy_static = "1.4.0"
regex = "1"
serde = { version = "1", features = ["serde_derive"] }
bincode = "1"

futures = "0.3.17"
metrics = "0.13.0-alpha.8"
tower = { version = "0.4", features = ["buffer", "util"] }
tracing = "0.1"
thiserror = "1.0.29"
tokio = { version = "0.3.6", features = ["sync"] }
displaydoc = "0.2.2"
rocksdb = "0.16.0"
tempdir = "0.3.7"
chrono = "0.4.19"
rlimit = "0.5.4"
# TODO: this crate is not maintained anymore. Replace it?
# https://github.com/ZcashFoundation/zebra/issues/2523
multiset = "0.0.5"

proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3", optional = true }
zebra-test = { path = "../zebra-test/", optional = true }

[dev-dependencies]
zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }

color-eyre = "0.5.11"
once_cell = "1.8"
itertools = "0.10.1"
spandoc = "0.2"
tempdir = "0.3.7"
tokio = { version = "0.3.6", features = ["full"] }
# TODO: replace w/ crate version when released: https://github.com/ZcashFoundation/zebra/issues/2083
# Note: if updating this, also update the workspace Cargo.toml to match.
halo2 = "=0.1.0-beta.1"
jubjub = "0.8.0"

proptest = "0.10.1"
proptest-derive = "0.3"
