[package]
name = "zebra-state"
version = "1.0.0-alpha.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zebra-chain = { path = "../zebra-chain" }

dirs = "3.0.2"
hex = "0.4.3"
lazy_static = "1.4.0"
regex = "1"
serde = { version = "1", features = ["serde_derive"] }

futures = "0.3.15"
metrics = "0.13.0-alpha.8"
tower = { version = "0.4", features = ["buffer", "util"] }
tracing = "0.1"
thiserror = "1.0.25"
tokio = { version = "0.3.6", features = ["sync"] }
displaydoc = "0.2.2"
rocksdb = "0.16.0"
tempdir = "0.3.7"
chrono = "0.4.19"
rlimit = "0.5.4"

[dev-dependencies]
zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }

color-eyre = "0.5.11"
once_cell = "1.8"
itertools = "0.10.1"
spandoc = "0.2"
tempdir = "0.3.7"
tokio = { version = "0.3.6", features = ["full"] }

proptest = "0.10.1"
proptest-derive = "0.3"
