[package]
name = "zebra-state"
version = "1.0.0-beta.24"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

[features]

# Production features that activate extra dependencies, or extra features in dependencies

progress-bar = [
    "howudoin",
]

# Experimental mining RPC support
getblocktemplate-rpcs = [
    "zebra-chain/getblocktemplate-rpcs",
]

# Test-only features
proptest-impl = [
    "proptest",
    "proptest-derive",
    "zebra-test",
    "zebra-chain/proptest-impl"
]

# Experimental elasticsearch support
elasticsearch = [
    "dep:elasticsearch",
    "dep:serde_json",
]

[dependencies]
bincode = "1.3.3"
chrono = { version = "0.4.24", default-features = false, features = ["clock", "std"] }
dirs = "5.0.1"
futures = "0.3.28"
hex = "0.4.3"
indexmap = "1.9.3"
itertools = "0.10.5"
lazy_static = "1.4.0"
metrics = "0.21.0"
mset = "0.1.1"
regex = "1.8.1"
rlimit = "0.9.1"
rocksdb = { version = "0.21.0", default_features = false, features = ["lz4"] }
serde = { version = "1.0.160", features = ["serde_derive"] }
tempfile = "3.5.0"
thiserror = "1.0.40"

rayon = "1.7.0"
tokio = { version = "1.28.0", features = ["sync", "tracing"] }
tower = { version = "0.4.13", features = ["buffer", "util"] }
tracing = "0.1.37"

# elasticsearch specific dependencies.
elasticsearch = { version = "8.5.0-alpha.1", package = "elasticsearch", optional = true }
serde_json = { version = "1.0.96", package = "serde_json", optional = true }

zebra-chain = { path = "../zebra-chain" }

# prod feature progress-bar
howudoin = { version = "0.1.2", optional = true }

# test feature proptest-impl
zebra-test = { path = "../zebra-test/", optional = true }
proptest = { version = "1.1.0", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

[dev-dependencies]
color-eyre = "0.6.2"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

once_cell = "1.17.1"
spandoc = "0.2.2"

hex = { version = "0.4.3", features = ["serde"] }
insta = { version = "1.29.0", features = ["ron"] }

proptest = "1.1.0"
proptest-derive = "0.3.0"

halo2 = { package = "halo2_proofs", version = "0.3.0" }
jubjub = "0.10.0"

tokio = { version = "1.28.0", features = ["full", "tracing", "test-util"] }

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
