[package]
name = "zebra-state"
version = "1.0.0-beta.12"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

[features]
proptest-impl = ["proptest", "proptest-derive", "zebra-test", "zebra-chain/proptest-impl"]

[dependencies]
bincode = "1.3.3"
chrono = "0.4.19"
dirs = "4.0.0"
displaydoc = "0.2.3"
futures = "0.3.21"
hex = "0.4.3"
itertools = "0.10.3"
lazy_static = "1.4.0"
metrics = "0.18.1"
mset = "0.1.0"
proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }
regex = "1.5.6"
rlimit = "0.8.3"
rocksdb = { version = "0.18.0", default_features = false, features = ["lz4"] }
serde = { version = "1.0.139", features = ["serde_derive"] }
tempfile = "3.3.0"
thiserror = "1.0.31"

tokio = { version = "1.20.0", features = ["sync", "tracing"] }
tower = { version = "0.4.13", features = ["buffer", "util"] }
tracing = "0.1.31"

zebra-chain = { path = "../zebra-chain" }
zebra-test = { path = "../zebra-test/", optional = true }

[dev-dependencies]
color-eyre = "0.6.1"
once_cell = "1.12.0"
spandoc = "0.2.2"

hex = { version = "0.4.3", features = ["serde"] }
insta = { version = "1.15.0", features = ["ron"] }

proptest = "0.10.1"
proptest-derive = "0.3.0"

halo2 = { package = "halo2_proofs", version = "0.2.0" }
jubjub = "0.9.0"

tokio = { version = "1.20.0", features = ["full", "tracing", "test-util"] }

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
