[package]
name = "zebra-state"
version = "3.0.0-alpha.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zebra-chain = { path = "../zebra-chain" }

color-eyre = "0.5"
dirs = "3.0.1"
hex = "0.4.2"
lazy_static = "1.4.0"
serde = { version = "1", features = ["serde_derive"] }

futures = "0.3.7"
metrics = "0.12"
tower = { version = "0.4", features = ["buffer", "util"] }
tracing = "0.1"
tracing-error = "0.1.2"
thiserror = "1.0.22"
tokio = { version = "0.3", features = ["sync"] }
displaydoc = "0.1.7"
rocksdb = "0.15.0"
tempdir = "0.3.7"
chrono = "0.4.19"
primitive-types = "0.7.3"

[dev-dependencies]
zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }

once_cell = "1.5"
spandoc = "0.2"
tempdir = "0.3.7"
tokio = { version = "0.3", features = ["full"] }
proptest = "0.10.1"
proptest-derive = "0.2"
primitive-types = "0.7.3"
