[package]
name = "tower-fallback"
version = "0.2.38"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT"
edition = "2021"

[dependencies]
pin-project = "1.0.12"
tower = "0.4.13"
futures-core = "0.3.28"
tracing = "0.1.38"

[dev-dependencies]
tokio = { version = "1.27.0", features = ["full", "tracing", "test-util"] }

zebra-test = { path = "../zebra-test/" }
