[package]
name = "tower-fallback"
version = "0.2.27"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT"
edition = "2021"

[dependencies]
pin-project = "1.0.11"
tower = "0.4.13"
futures-core = "0.3.21"
tracing = "0.1.31"

[dev-dependencies]
tokio = { version = "1.19.2", features = ["full", "tracing", "test-util"] }

zebra-test = { path = "../zebra-test/" }
