[package]
name = "tower-fallback"
version = "0.2.35"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT"
edition = "2021"

[dependencies]
pin-project = "0.4.29"
tower = "0.4.13"
futures-core = "0.3.26"
tracing = "0.1.37"

[dev-dependencies]
tokio = { version = "1.25.0", features = ["full", "tracing", "test-util"] }

zebra-test = { path = "../zebra-test/" }
