[package]
name = "tower-fallback"
version = "0.2.6"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT"
edition = "2018"

[dependencies]
tower = "0.4"
futures-core = "0.3.13"
pin-project = "0.4.27"
tracing = "0.1"

[dev-dependencies]
zebra-test = { path = "../zebra-test/" }
tokio = { version = "0.3.6", features = ["full"]}
