[package]
name = "zebra-rpc"
version = "1.0.0-beta.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

futures = "0.3"

hyper = { version = "0.14.17", features = ["full"] }

jsonrpc-core = "18.0.0"
jsonrpc-derive = "18.0.0"
jsonrpc-http-server = "18.0.0"

tokio = { version = "1.16.1", features = ["time", "rt-multi-thread", "macros", "tracing", "signal"] }

tracing = "0.1"
tracing-futures = "0.2"

serde = { version = "1", features = ["serde_derive"] }
