[package]
name = "zebra-rpc"
version = "1.0.0-beta.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
proptest-impl = ["proptest", "proptest-derive", "zebra-chain/proptest-impl", "zebra-state/proptest-impl"]

[dependencies]
zebra-chain = { path = "../zebra-chain" }
zebra-network = { path = "../zebra-network" }
zebra-node-services = { path = "../zebra-node-services" }
zebra-state = { path = "../zebra-state" }

chrono = "0.4.19"
futures = "0.3.21"

# lightwalletd sends JSON-RPC requests over HTTP 1.1
hyper = { version = "0.14.20", features = ["http1", "server"] }

jsonrpc-core = "18.0.0"
jsonrpc-derive = "18.0.0"
jsonrpc-http-server = "18.0.0"
# zebra-rpc needs the preserve_order feature in serde_json, which is a dependency of jsonrpc-core
serde_json = { version = "1.0.83", features = ["preserve_order"] }
indexmap = { version = "1.9.1", features = ["serde"] }

tokio = { version = "1.20.1", features = ["time", "rt-multi-thread", "macros", "tracing"] }
tower = "0.4.13"

tracing = "0.1.31"
tracing-futures = "0.2.5"

hex = { version = "0.4.3", features = ["serde"] }
serde = { version = "1.0.142", features = ["serde_derive"] }

proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

[dev-dependencies]
insta = { version = "1.17.1", features = ["redactions"] }
proptest = "0.10.1"
proptest-derive = "0.3.0"
serde_json = "1.0.83"
thiserror = "1.0.32"

tokio = { version = "1.20.1", features = ["full", "tracing", "test-util"] }

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-state = { path = "../zebra-state", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test/" }
