[package]
name = "zebra-rpc"
version = "1.0.0-beta.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

zebra-chain = { path = "../zebra-chain" }
zebra-network = { path = "../zebra-network" }
zebra-state = { path = "../zebra-state" }

futures = "0.3"

# lightwalletd sends JSON-RPC requests over HTTP 1.1
hyper = { version = "0.14.17", features = ["http1", "server"] }

jsonrpc-core = "18.0.0"
jsonrpc-derive = "18.0.0"
jsonrpc-http-server = "18.0.0"

tokio = { version = "1.16.1", features = ["time", "rt-multi-thread", "macros", "tracing"] }
tower = { version = "0.4.12", features = ["hedge", "limit"] }

tracing = "0.1"
tracing-futures = "0.2"

serde = { version = "1", features = ["serde_derive"] }

[dev-dependencies]

zebra-test = { path = "../zebra-test/" }
