[package]
name = "zebra-test"
version = "1.0.0-beta.8"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
indexmap = "1.8.1"
lazy_static = "1.4.0"
insta = "1.14.0"
proptest = "0.10.1"
once_cell = "1.10.0"
rand = { version = "0.8.5", package = "rand" }
regex = "1.5.5"

tokio = { version = "1.18.1", features = ["full"] }
tower = { version = "0.4.12", features = ["util"] }
futures = "0.3.21"

color-eyre = "0.5.11"
owo-colors = "3.4.0"
spandoc = "0.2.2"
thiserror = "1.0.30"
tracing-subscriber = "0.2.25"
tracing-error = "0.1.2"
tracing = "0.1.31"

[dev-dependencies]
tempfile = "3.3.0"
