[package]
name = "zebra-test"
version = "1.0.0-alpha.14"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
lazy_static = "1.4.0"
once_cell = "1.8"
proptest = "0.10.1"
rand = "0.8"
regex = "1.4.6"

tower = { version = "0.4", features = ["util"] }
tokio = { version = "0.3", features = ["full"] }
futures = "0.3.17"

color-eyre = "0.5.11"
owo-colors = "2.1.0"
pretty_assertions = "1.0.0"
spandoc = "0.2.0"
thiserror = "1.0.29"
tracing = "0.1.28"
tracing-subscriber = "0.2.24"
tracing-error = "0.1.2"

[dev-dependencies]
tempdir = "0.3.7"
