[package]
name = "zebra-test"
version = "1.0.0-alpha.2"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.2"
lazy_static = "1.4.0"
tower = { version = "0.4", features = ["util"] }
futures = "0.3.12"
color-eyre = "0.5.10"
tracing = "0.1.24"
tracing-subscriber = "0.2.16"
tracing-error = "0.1.2"
spandoc = "0.2.0"
regex = "1.4.3"
thiserror = "1.0.24"
pretty_assertions = "0.6.1"
owo-colors = "1.3.0"
proptest = "1.0.0"

[dev-dependencies]
tempdir = "0.3.7"
tokio = { version = "0.3.6", features = ["full"] }
