[package]
name = "zebra-test"
version = "1.0.0-beta.13"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
indexmap = "1.9.1"
lazy_static = "1.4.0"
insta = "1.17.1"
proptest = "0.10.1"
once_cell = "1.13.0"
rand = { version = "0.8.5", package = "rand" }
regex = "1.6.0"

tokio = { version = "1.20.1", features = ["full", "tracing", "test-util"] }
tower = { version = "0.4.13", features = ["util"] }
futures = "0.3.21"

color-eyre = "0.6.1"
# This is a transitive dependency via color-eyre.
# Enable a feature that makes tinyvec compile much faster.
tinyvec = { version = "1.6.0", features = ["rustc_1_55"] }

owo-colors = "3.4.0"
spandoc = "0.2.2"
thiserror = "1.0.32"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
tracing-error = "0.2.0"
tracing = "0.1.31"

[dev-dependencies]
tempfile = "3.3.0"
