[package]
name = "zebra-test"
version = "3.0.0-alpha.0"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.2"
lazy_static = "1.4.0"
tower = "0.3.1"
futures = "0.3.5"
color-eyre = "0.5.2"
tracing = "0.1.19"
tracing-subscriber = "0.2.11"
tracing-error = "0.1.2"
spandoc = "0.2.0"
regex = "1.3.9"
thiserror = "1.0.20"

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
