[package]
name = "zebra-test"
version = "1.0.0-alpha.6"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
lazy_static = "1.4.0"
tower = { version = "0.4", features = ["util"] }
futures = "0.3.14"
color-eyre = "0.5.11"
tracing = "0.1.25"
tracing-subscriber = "0.2.17"
tracing-error = "0.1.2"
spandoc = "0.2.0"
regex = "1.4.5"
thiserror = "1.0.24"
pretty_assertions = "0.7.1"
owo-colors = "2.0.0"
proptest = "0.10.1"

[dev-dependencies]
tempdir = "0.3.7"
tokio = { version = "0.3.6", features = ["full"] }
