[package]
name = "zebrad"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-alpha.8"
edition = "2018"
repository = "https://github.com/ZcashFoundation/zebra"
# make `cargo run` use `zebrad` by default
# when run in the workspace directory
default-run = "zebrad"

[dependencies]
zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus/" }
zebra-network = { path = "../zebra-network" }
zebra-state = { path = "../zebra-state" }

abscissa_core = "0.5"
gumdrop = "0.7"
serde = { version = "1", features = ["serde_derive"] }
toml = "0.5"
chrono = "0.4"
rand = "0.8"

hyper = { version = "0.14.0-dev", features = ["full"] }
futures = "0.3"
tokio = { version = "0.3.6", features = ["time", "rt-multi-thread", "stream", "macros", "tracing", "signal"] }
tower = { version = "0.4", features = ["hedge", "limit"] }
pin-project = "0.4.23"

color-eyre = { version = "0.5.11", features = ["issue-url"] }
thiserror = "1"

tracing = "0.1"
tracing-futures = "0.2"
tracing-flame = "0.1.0"
tracing-journald = "0.1.0"
tracing-subscriber = { version = "0.2.18", features = ["tracing-log"] }
tracing-error = "0.1.2"
metrics = "0.13.0-alpha.8"
metrics-exporter-prometheus = "0.1.0-alpha.7"

dirs = "3.0.2"
inferno = { version = "0.10.5", default-features = false }
atty = "0.2.14"

sentry = { version = "0.21.0", default-features = false, features = ["backtrace", "contexts", "reqwest", "rustls"] }
sentry-tracing = { git = "https://github.com/kellpossible/sentry-tracing.git", rev = "f1a4a4a16b5ff1022ae60be779eb3fb928ce9b0f" }

[build-dependencies]
vergen = { version = "5.1.7", default-features = false, features = ["cargo", "git"] }

[dev-dependencies]
abscissa_core = { version = "0.5", features = ["testing"] }
once_cell = "1.7"
tempdir = "0.3.7"
zebra-test = { path = "../zebra-test" }

[features]
enable-sentry = []
test_sync_to_canopy_mainnet = []
test_sync_to_canopy_testnet = []
test_sync_past_canopy_mainnet = []
test_sync_past_canopy_testnet = []
