[package]
name = "zebrad"
authors = []
version = "0.1.0"
edition = "2018"

[dependencies]
abscissa_core = "0.3.0"
failure = "0.1"
gumdrop = "0.6"
lazy_static = "1"
serde = { version = "1", features = ["serde_derive"] }
toml = "0.5"
tokio = "=0.2.0-alpha.4"
tracing = "0.1"
tracing-subscriber = "0.1"
tracing-log = "=0.0.1-alpha.2"
hyper = "=0.13.0-alpha.1"

[dev-dependencies.abscissa_core]
version = "0.3.0"
features = ["testing"]

