[package]
name = "zebrad"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.4"
edition = "2021"
repository = "https://github.com/ZcashFoundation/zebra"
# make `cargo run` use `zebrad` by default
# when run in the workspace directory
default-run = "zebrad"

[dependencies]
zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus/" }
zebra-network = { path = "../zebra-network" }
zebra-state = { path = "../zebra-state" }

abscissa_core = "0.5"
chrono = "0.4"
gumdrop = "0.7"
indexmap = "1.8.0"
lazy_static = "1.4.0"
serde = { version = "1", features = ["serde_derive"] }
toml = "0.5"

hyper = { version = "0.14.17", features = ["full"] }
futures = "0.3"
tokio = { version = "1.16.1", features = ["time", "rt-multi-thread", "macros", "tracing", "signal"] }
tower = { version = "0.4.11", features = ["hedge", "limit"] }
pin-project = "1.0.7"

color-eyre = { version = "0.5.11", features = ["issue-url"] }
thiserror = "1"

tracing = "0.1"
tracing-futures = "0.2"
tracing-flame = "0.1.0"
tracing-journald = "0.1.0"
tracing-subscriber = { version = "0.2.25", features = ["tracing-log"] }
tracing-error = "0.1.2"
metrics = "0.17.1"
metrics-exporter-prometheus = "0.7.0"

dirs = "4.0.0"
inferno = { version = "0.10.12", default-features = false }
atty = "0.2.14"

sentry = { version = "0.23.0", default-features = false, features = ["backtrace", "contexts", "reqwest", "rustls"] }
sentry-tracing = "0.23.0"

num-integer = "0.1.44"
rand = "0.8.5"

[build-dependencies]
vergen = { version = "6.0.2", default-features = false, features = ["cargo", "git"] }

[dev-dependencies]
abscissa_core = { version = "0.5", features = ["testing"] }
once_cell = "1.9"
regex = "1.5.4"
semver = "1.0.5"
tempfile = "3.3.0"
tokio = { version = "1.16.1", features = ["full", "test-util"] }

proptest = "0.10.1"
proptest-derive = "0.3.0"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-consensus = { path = "../zebra-consensus/", features = ["proptest-impl"] }
zebra-network = { path = "../zebra-network", features = ["proptest-impl"] }
zebra-state = { path = "../zebra-state", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test" }

[features]
enable-sentry = []
test_sync_to_mandatory_checkpoint_mainnet = []
test_sync_to_mandatory_checkpoint_testnet = []
test_sync_past_mandatory_checkpoint_mainnet = []
test_sync_past_mandatory_checkpoint_testnet = []
