[package]
name = "zebrad"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT OR Apache-2.0"
version = "1.0.0-beta.8"
edition = "2021"
repository = "https://github.com/ZcashFoundation/zebra"
# make `cargo run` use `zebrad` by default
# when run in the workspace directory
default-run = "zebrad"

[features]
default = []
proptest-impl = ["proptest", "proptest-derive", "zebra-chain/proptest-impl", "zebra-state/proptest-impl", "zebra-consensus/proptest-impl", "zebra-network/proptest-impl"]

enable-sentry = []
test_sync_to_mandatory_checkpoint_mainnet = []
test_sync_to_mandatory_checkpoint_testnet = []
test_sync_past_mandatory_checkpoint_mainnet = []
test_sync_past_mandatory_checkpoint_testnet = []

[dependencies]
zebra-chain = { path = "../zebra-chain" }
zebra-consensus = { path = "../zebra-consensus/" }
zebra-network = { path = "../zebra-network" }
zebra-node-services = { path = "../zebra-node-services" }
zebra-rpc = { path = "../zebra-rpc" }
zebra-state = { path = "../zebra-state" }

abscissa_core = "0.5"
gumdrop = "0.7"
chrono = "0.4.19"
indexmap = "1.8.1"
lazy_static = "1.4.0"
serde = { version = "1.0.137", features = ["serde_derive"] }
toml = "0.5.9"

hyper = { version = "0.14.18", features = ["full"] }
futures = "0.3.21"
tokio = { version = "1.18.1", features = ["time", "rt-multi-thread", "macros", "tracing", "signal"] }
tower = { version = "0.4.12", features = ["hedge", "limit"] }
pin-project = "1.0.10"

color-eyre = { version = "0.5.11", features = ["issue-url"] }
thiserror = "1.0.30"

tracing-flame = "0.1.0"
tracing-journald = "0.1.0"
tracing-subscriber = { version = "0.2.25", features = ["tracing-log"] }
tracing-error = "0.1.2"
metrics = "0.17.1"
metrics-exporter-prometheus = "0.7.0"
tracing-futures = "0.2.5"
tracing = "0.1.31"

dirs = "4.0.0"
inferno = { version = "0.11.2", default-features = false }
atty = "0.2.14"

sentry-tracing = "0.23.0"
sentry = { version = "0.23.0", default-features = false, features = ["backtrace", "contexts", "reqwest", "rustls"] }

num-integer = "0.1.44"
rand = { version = "0.8.5", package = "rand" }

proptest = { version = "0.10.1", optional = true }
proptest-derive = { version = "0.3.0", optional = true }

[build-dependencies]
tonic-build = "0.7.1"
vergen = { version = "7.0.0", default-features = false, features = ["cargo", "git"] }

[dev-dependencies]
abscissa_core = { version = "0.5", features = ["testing"] }
hex = "0.4.3"
once_cell = "1.10.0"
prost = "0.10.1"
regex = "1.5.5"
reqwest = "0.11"
semver = "1.0.9"
# zebra-rpc needs the preserve_order feature, it also makes test results more stable
serde_json = { version = "1.0.81", features = ["preserve_order"] }
tempfile = "3.3.0"
tokio = { version = "1.18.1", features = ["full", "test-util"] }
tonic = "0.7.0"

proptest = "0.10.1"
proptest-derive = "0.3.0"

zebra-chain = { path = "../zebra-chain", features = ["proptest-impl"] }
zebra-consensus = { path = "../zebra-consensus/", features = ["proptest-impl"] }
zebra-network = { path = "../zebra-network", features = ["proptest-impl"] }
zebra-state = { path = "../zebra-state", features = ["proptest-impl"] }
zebra-test = { path = "../zebra-test" }
