[package]
name = "zebrad"
authors = []
version = "0.1.0"
edition = "2018"

[dependencies]
# temporary, used for debugging
hex = "*" 

chrono = "0.4"
abscissa_core = "0.3.0"
failure = "0.1"
gumdrop = "0.6"
lazy_static = "1"
serde = { version = "1", features = ["serde_derive"] }
toml = "0.5"
tokio = "=0.2.0-alpha.4"
tracing = "0.1"
tracing-subscriber = "0.1"
tracing-log = "=0.0.1-alpha.2"
# Can't use published alpha because of conflicts tracking pin-project alphas
#hyper = "=0.13.0-alpha.1"
hyper = { git = "https://github.com/hyperium/hyper" }
futures-core-preview = { version = "=0.3.0-alpha.18" }
futures-util-preview = { version = "=0.3.0-alpha.18" }

zebra-chain = { path = "../zebra-chain" }
zebra-network = { path = "../zebra-network" }

[dev-dependencies.abscissa_core]
version = "0.3.0"
features = ["testing"]

