name: CD

on:
  # Only patch the Docker image test jobs
  pull_request:
    paths-ignore:
      # code and tests
      - '**/*.rs'
      # hard-coded checkpoints and proptest regressions
      - '**/*.txt'
      # dependencies
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      # configuration files
      - '.cargo/config.toml'
      - '**/clippy.toml'
      # workflow definitions
      - 'docker/**'
      - '.dockerignore'
      - '.github/workflows/continous-delivery.yml'
      - '.github/workflows/find-cached-disks.yml'


jobs:
  build:
    name: Build CD Docker / Build images
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'

  test-configuration-file:
    name: Test Zebra CD Docker config file
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'
