name: Coverage

on:
  pull_request:
    paths-ignore:
      - '**/*.rs'
      - '**/*.txt'
      - '**/*.snap'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      # configuration files
      - '.cargo/config.toml'
      - '**/clippy.toml'
      - 'codecov.yml'
      - '.github/workflows/coverage.yml'

jobs:
  coverage:
    name: Coverage on stable
    # The large timeout is to accommodate:
    # - nightly builds (75 minutes, typically 30-50 minutes)
    # - parameter downloads (40 minutes, but only when the cache expires)
    timeout-minutes: 115
    runs-on: ubuntu-latest

    steps:
      - run: 'echo "No build required"'
