name: Coverage

on:
  push:
    branches: [main]
    paths:
      - "**/*.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - .config/nextest.toml
      - codecov.yml
      - .github/workflows/coverage.yml

# Ensures that only one workflow task will run at a time. Previous builds, if
# already in process, will get cancelled. Only the latest commit will be allowed
# to run, cancelling any workflows in between
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUST_LIB_BACKTRACE: 1
  RUST_LOG: info
  COLORBT_SHOW_HIDDEN: 1

jobs:
  coverage:
    permissions:
      id-token: write
      statuses: write
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false
      - name: Install last version of Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b #v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c #v1.15.2
        with:
          toolchain: stable
          components: llvm-tools-preview
          cache-on-failure: true
      - uses: taiki-e/install-action@69e777b377e4ec209ddad9426ae3e0c1008b0ef3 #v2.64.0
        with:
          tool: cargo-llvm-cov,nextest
      - name: Run coverage tests
        run: |
          cargo llvm-cov --no-report nextest
          # TODO: Do we need --locked --release --features "default-release-binaries" here?
          cargo llvm-cov report --lcov --output-path lcov.info
        env:
          TEST_LARGE_CHECKPOINTS: 1
          # We set cases to 1, because some tests already run 1 case by default.
          # We set maximum shrink iterations to 0, because we don't expect failures in coverage tests.
          # Coverage tests are much slower than other tests, particularly in hot loops.
          PROPTEST_CASES: 1
          PROPTEST_MAX_SHRINK_ITERS: 0

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          files: lcov.info

  coverage-success:
    name: coverage success
    runs-on: ubuntu-latest
    if: always()
    needs:
      - coverage
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe #v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
