name: CI

on:
  pull_request:
    paths:
      - '**.rs'
  push:
    branches:
      - main
    paths:
      - '**.rs'

jobs:

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: 'latest'
          timeout: 300
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1.0.12
