name: Lint

on:
  pull_request:

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'

  docs:
    name: Rust doc
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'
