# Google Cloud unit tests that run when Rust code or dependencies are modified,
# but only on PRs from the ZcashFoundation/zebra repository. (External PRs are tested by GitHub's Merge Queue.)
#
# This workflow is designed for running various unit tests within Docker containers.
# Jobs:
# 1. Builds a Docker image for tests, adaptable to the specified network (Mainnet or Testnet).
# 2. 'test-all': Executes all Zebra tests, including normally ignored ones, in a Docker environment.
# 3. 'state-fake-activation-heights': Runs state tests with fake activation heights, isolating its build products.
# 4. 'sync-large-checkpoints-empty': Tests Zebra's ability to sync and checkpoint from an empty state.
# 5. 'test-lightwalletd-integration': Validates integration with 'lightwalletd' starting from an empty state.
# 6. 'test-docker-configurations': Runs a matrix of configuration tests to validate various Docker configurations.
name: Docker Unit Tests

on:
  workflow_call:
    inputs:
      image_digest:
        type: string
      network:
        type: string
        default: "Mainnet"
      no_cache:
        type: boolean
        default: false

env:
  RUST_LOG: ${{ vars.RUST_LOG }}
  RUST_BACKTRACE: ${{ vars.RUST_BACKTRACE }}
  RUST_LIB_BACKTRACE: ${{ vars.RUST_LIB_BACKTRACE }}
  COLORBT_SHOW_HIDDEN: ${{ vars.COLORBT_SHOW_HIDDEN }}
  CARGO_INCREMENTAL: ${{ vars.CARGO_INCREMENTAL }}

jobs:
  test-all:
    name: Test all
    timeout-minutes: 180
    runs-on: ${{ github.repository_owner == 'ZcashFoundation' && 'ubuntu-latest-xl' || 'ubuntu-latest' }}
    steps:
      - uses: r7kamura/rust-problem-matchers@v1.5.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
        with:
          short-length: 7

      # Run unit, basic acceptance tests, and ignored tests, only showing
      # command output if the test fails.
      #
      # If some tests hang, add "-- --nocapture" for just that test, or for all
      # the tests.
      - name: Run all tests
        run: |
          docker pull ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
          docker run --tty \
          -e NEXTEST_PROFILE=all-tests \
          -e NETWORK="${{ inputs.network || vars.ZCASH_NETWORK }}" \
          -e RUST_LOG=${{ env.RUST_LOG }} \
          -e RUST_BACKTRACE=${{ env.RUST_BACKTRACE }} \
          -e RUST_LIB_BACKTRACE=${{ env.RUST_LIB_BACKTRACE }} \
          -e COLORBT_SHOW_HIDDEN=${{ env.COLORBT_SHOW_HIDDEN }} \
          -e CARGO_INCREMENTAL=${{ env.CARGO_INCREMENTAL }} \
          ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}

  # Run state tests with fake activation heights.
  #
  # This test changes zebra-chain's activation heights,
  # which can recompile all the Zebra crates,
  # so we want its build products to be cached separately.
  #
  # Also, we don't want to accidentally use the fake heights in other tests.
  #
  # (We activate the test features to avoid recompiling dependencies, but we don't actually run any gRPC tests.)
  state-fake-activation-heights:
    name: Test with fake activation heights
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: r7kamura/rust-problem-matchers@v1.5.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
        with:
          short-length: 7

      - name: Run tests with fake activation heights
        env:
          NETWORK: ${{ inputs.network || vars.ZCASH_NETWORK }}
        run: |
          docker pull ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
          docker run --tty \
          -e NEXTEST_PROFILE=state-fake-activation-heights \
          -e TEST_FAKE_ACTIVATION_HEIGHTS=1 \
          -e NETWORK="${{ inputs.network || vars.ZCASH_NETWORK }}" \
          -e RUST_LOG=${{ env.RUST_LOG }} \
          -e RUST_BACKTRACE=${{ env.RUST_BACKTRACE }} \
          -e RUST_LIB_BACKTRACE=${{ env.RUST_LIB_BACKTRACE }} \
          -e COLORBT_SHOW_HIDDEN=${{ env.COLORBT_SHOW_HIDDEN }} \
          -e CARGO_INCREMENTAL=${{ env.CARGO_INCREMENTAL }} \
          ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}

  # Test that Zebra syncs and checkpoints a few thousand blocks from an empty state.
  sync-large-checkpoints-empty:
    name: Test checkpoint sync from empty state
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: r7kamura/rust-problem-matchers@v1.5.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
        with:
          short-length: 7

      - name: Run zebrad large sync tests
        env:
          NETWORK: ${{ inputs.network || vars.ZCASH_NETWORK }}
        run: |
          docker pull ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
          docker run --tty \
          -e NEXTEST_PROFILE=sync-large-checkpoints-empty \
          -e ZEBRA_TEST_LARGE_CHECKPOINTS=1 \
          -e NETWORK="${{ inputs.network || vars.ZCASH_NETWORK }}" \
          -e RUST_LOG=${{ env.RUST_LOG }} \
          -e RUST_BACKTRACE=${{ env.RUST_BACKTRACE }} \
          -e RUST_LIB_BACKTRACE=${{ env.RUST_LIB_BACKTRACE }} \
          -e COLORBT_SHOW_HIDDEN=${{ env.COLORBT_SHOW_HIDDEN }} \
          -e CARGO_INCREMENTAL=${{ env.CARGO_INCREMENTAL }} \
          ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}

  # Test launching lightwalletd with an empty lightwalletd and Zebra state.
  test-lightwalletd-integration:
    name: Lightwalletd integration
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: r7kamura/rust-problem-matchers@v1.5.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
        with:
          short-length: 7

      - name: Run tests with empty lightwalletd launch
        env:
          NETWORK: ${{ inputs.network || vars.ZCASH_NETWORK }}
        run: |
          docker pull ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
          docker run --tty \
          -e NEXTEST_PROFILE=lwd-integration \
          -e ZEBRA_TEST_LIGHTWALLETD=1 \
          -e NETWORK="${{ inputs.network || vars.ZCASH_NETWORK }}" \
          -e RUST_LOG=${{ env.RUST_LOG }} \
          -e RUST_BACKTRACE=${{ env.RUST_BACKTRACE }} \
          -e RUST_LIB_BACKTRACE=${{ env.RUST_LIB_BACKTRACE }} \
          -e COLORBT_SHOW_HIDDEN=${{ env.COLORBT_SHOW_HIDDEN }} \
          -e CARGO_INCREMENTAL=${{ env.CARGO_INCREMENTAL }} \
          ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}

  # Run a matrix of configuration tests against the Docker image
  test-docker-configurations:
    name: Test Zebra Docker configurations
    uses: ./.github/workflows/sub-test-zebra-config.yml
    with:
      docker_image: ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}

  failure-issue:
    name: Open or update issues for main branch failures
    # When a new test is added to this workflow, add it to this list.
    #
    # This list is for reliable tests that are run on the `main` branch.
    # Testnet jobs are not in this list, because we expect testnet to fail occasionally.
    needs:
      [
        test-all,
        state-fake-activation-heights,
        sync-large-checkpoints-empty,
        test-lightwalletd-integration,
        test-docker-configurations,
      ]
    # Only open tickets for failed scheduled jobs, manual workflow runs, or `main` branch merges.
    # (PR statuses are already reported in the PR jobs list, and checked by GitHub's Merge Queue.)
    # TODO: if a job times out, we want to create a ticket. Does failure() do that? Or do we need cancelled()?
    if: failure() && github.event.pull_request == null
    runs-on: ubuntu-latest
    steps:
      - uses: jayqi/failed-build-issue-action@v1
        with:
          title-template: "{{refname}} branch CI failed: {{eventName}} in {{workflow}}"
          # New failures open an issue with this label.
          # TODO: do we want a different label for each workflow, or each kind of workflow?
          label-name: S-ci-fail-auto-issue
          # If there is already an open issue with this label, any failures become comments on that issue.
          always-create-new-issue: false
          github-token: ${{ secrets.GITHUB_TOKEN }}

  check-no-git-dependencies:
    if: contains(github.event.pull_request.labels.*.name, 'A-release')
    runs-on: ubuntu-latest
    steps:
      - name: Run check_no_git_refs_in_cargo_lock
        run: |
          docker pull ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
          docker run --tty \
          -e NEXTEST_PROFILE=check-no-git-dependencies \
          -e NETWORK="${{ inputs.network || vars.ZCASH_NETWORK }}" \
          -e RUST_LOG=${{ env.RUST_LOG }} \
          -e RUST_BACKTRACE=${{ env.RUST_BACKTRACE }} \
          -e RUST_LIB_BACKTRACE=${{ env.RUST_LIB_BACKTRACE }} \
          -e COLORBT_SHOW_HIDDEN=${{ env.COLORBT_SHOW_HIDDEN }} \
          ${{ vars.GAR_BASE }}/${{ vars.CI_IMAGE_NAME }}@${{ inputs.image_digest }}
