name: Test

on:
  push:
    branches:
      - main
    path-ignore:
      - '**/*.rs'
      - '**/*.txt'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'docker/**'
      - '.github/workflows/test.yml'

jobs:
  test:
    name: Run all tests
    runs-on: ubuntu-latest

    steps:
      - run: 'echo "No build required"'
