[package]
name = "tower-batch"
version = "0.2.10"
authors = ["Zcash Foundation <zebra@zfnd.org>"]
license = "MIT"
edition = "2018"

[dependencies]
futures = "0.3.15"
futures-core = "0.3.13"
pin-project = "1.0.7"
tokio = { version = "0.3.6", features = ["time", "sync", "stream", "tracing", "macros"] }
tower = { version = "0.4", features = ["util", "buffer"] }
tracing = "0.1.26"
tracing-futures = "0.2.5"

[dev-dependencies]
color-eyre = "0.5.11"
ed25519-zebra = "2.2.0"
rand = "0.8"
tokio = { version = "0.3.6", features = ["full"]}
tokio-test = "0.4.2"
tower-fallback = { path = "../tower-fallback/" }
tower-test = "0.4.0"
tracing = "0.1.26"
zebra-test = { path = "../zebra-test/" }



